.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: gray;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: #161515;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: #fff;
    color: #161515;
    height: 98%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: #161515;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card1{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: #fff;
}
.inputs{
    margin-bottom: 5px; 
    width: 50%;
    border-radius: 10px;
    padding: 0 10px 0 ;
}

.boton{
    border-radius: 10px;
    margin-bottom: 30px;
    border-color: grey;
    padding: 4px;
}
.actualizar{
    text-align: center;
}

@media screen and (max-width: 992px) {
    .inputs{
        margin-bottom: 5px; 
        width: 96%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    .inputs{
        margin-bottom: 5px; 
        width: 98%;
        margin-left: 5px;
        border-radius: 10px;
    }
}

.inicio{
    margin-top: 300px;
    margin-right: 20px !important;
}

.inicio {
    padding: 10px;
    margin-left: 10px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

.salir {
    padding: 10px;
    margin-left: 10px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

.salir{
    margin-right: 30px !important;
    margin-bottom: 10px;
}

.salir span{
    margin-top: 100px;
    margin-left: 10px;
}
.salir:hover{
    margin-left: 35px;
}

.inicio:hover{
    margin-left: 35px;
}

.inicio span{
    margin-top: 100px;
    margin-left: 10px;
}
.material-icons-sharp{
    background: rgb(227 227 227);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}