:root {
   --color-primary:  rgb(22, 21, 21);
   --color-danger: #ee2838;
   --color-success: #41f1b6;
   --color-warning: #ffbb55;
   --color-white: #fff;
   --color-info-dark: #7d8da1;
   --color-info-light: #dce1eb;
   --color-dark: #363949;
   --color-light: rgba(132,139,200, 0.18);
   --color-primary-variant: #111e88;
   --color-dark-variant: #677483;
   --color-background: #212529;
   --color-icono:rgb(241, 224, 224);
   --color-body:#161515;
 
   --card-border-radius: 2rem;
   --border-radius-1: 0.4rem;
   --border-radius-2: 0.8rem;
   --border-radius-3: 1.2rem;
 
   --card-padding: 1.8rem;
   --padding-1: 1.2rem;
 
   --box-shadow: 0 2rem 3rem var(--color-light);
}

/* --------------------- VARIEABLES OSCURAS -------------------------- */
.dark-theme-variables{
   --color-primary: #25c078;
   --color-background: #1e573c;
   --color-white: #0f1011;
   --color-dark: #edeffd;
   --color-icono: #161515;
   --color-light: rgba(0,0,0,0.4);
   ---box-shadow: 0 2rem 3rem blue;
   --color-body: white;
   
}

.theme-toggler {
   background: var(--color-light);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 1.6rem;
   width: 4.2rem;
   cursor: pointer;
   border-radius: var(--border-radius-1);
   margin-top: 0.5rem;
   margin-left: 13px;
}

.color{
   display: flex;
   gap: 0.5rem;
   margin-top: 10px;
}

.theme-toggler span{
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.theme-toggler span.active{
   background: var(--color-primary);
   color: white;
   border-radius: var(--border-radius-1);
}

.theme-toggler2 {
   background: var(--color-light);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 1.6rem;
   width: 3.2rem;
   cursor: pointer;
   border-radius: var(--border-radius-1);
   margin-left: 1.3rem;
}

.theme-toggler2 span{
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.theme-toggler2 span.active{
   background: var(--color-primary);
   color: white;
   border-radius: var(--border-radius-1);
}

body{
   background-color:var(--color-primary);
   
}
h1{
   text-align: center;
}
h6{
   text-align: center;
}

img.d-block{
   margin: auto;
   margin-top: 50px;
   margin-bottom: 20px;
}

.card-ini{
   background-color: var(--color-background);
}

.pie-pagina{
   width: 100%;
   background-color: var(--color-background);
}
.pie-pagina .grupo-1{
   width: 100%;
   max-width: 1200px;
   margin:auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
   width: 250px;
}
.pie-pagina .grupo-1 .box h2{
   color: var(--color-white);
   margin-bottom: 25;
   font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
   color:  var(--color-white);
   margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
   display: inline-block;
   text-decoration: none;
   width: 40px;
   height: 40px;
   line-height: 40px;
   justify-content: center;
   color:  var(--color-white);
   margin-right: 10px;
   background-color: var(--color-primary);
   text-align: center;
   transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
   color: aqua;
}
.pie-pagina .grupo-2{
   background-color: #3a434b;
   padding: 15px 10px;
   text-align: center;
   color:  var(--color-white);
}


h1{
   color:  var(--color-white);
   margin-top: 60px;
}

h6{
   color: var(--color-white);
}
.link-muted { color: var(--color-white); } .link-muted:hover { color: #1266f1; }

p{
   color: var(--color-white);
}

summary{
   color: var(--color-white);
}

h4{
   color: var(--color-white);
}
.esp{
   margin-top: 100px;
}

@media screen and (max-width:800px){
   .pie-pagina .grupo-1{
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
   }
}

.galeria-port{
   display: inline-flex;
   justify-content:space-evenly;
   flex-wrap: wrap;
   padding: 50px 0px 80px 0px;
   grid-gap: 80px;
   position: relative;
}

.card-ini{
   width: 200px;
}

.card-img-top{
   height: 280px;
   width: 100%;
}

.invi{
   visibility: hidden;
}

.card-ini img:hover {
   transform:  scale(1.15);

}

.second{
   margin-top: -8px ;
}

@media screen and (max-width:1199px){
   .invi{
      display: none;
   }

}
.info{
   margin-top: 2rem;
}

.profile img{
   width: 100%;
}
.profile p {
   display: flex;
}

.profile{
   display: flex;
   gap: 1rem;
   text-align: right;
}
.profile-photo{
   margin-right: 0.8rem;
   width: 3.8rem;
   height: 3.8rem;
   border-radius: 50%;
   overflow: hidden;
}

@media screen and (max-width:990px){
   .color{
      left: 0;
      gap: 0rem;
   }
}

@media screen and (max-width:523px){
   
   .card-ini{
      width: 42%;
      display: flex;
      justify-content:space-evenly;
      
   }
   .card-img-top{
      max-height: 200px;
      height: 100%;
      min-width: 150px;
      min-height: 200px;
      
   }

   .card-body{
      height: 100%;
      width: 100%;
      background-color: var(--color-background);
   }

   h6.card-title{
      font-size: 90%;
      box-sizing:content-box ;
      width: 100px;
      margin-top: 60%;
   }
   
   .box{
      font-size: 90%;
      text-align: center;
      
   }
}