{% extends "./plantillaproducto.html" %}

{% block pagina %}
<a class="navbar-brand" href="#"> Dashboard </a>
{% endblock %}

{% block content %}
    "active"
{% endblock %}

{% block Usuarios %}
    "desactive"
{% endblock %}

{% block ventas %}
    "desactive"
{% endblock %}
{% block anal %}
    "desactive"
{% endblock %}

{% block producto %}
    "desactive"
{% endblock %}

{% block reporte %}
    "desactive"
{% endblock %}

{% block ajustes%}
    "desactive"
{% endblock %}

{% block anadirp%}
    "desactive"
{% endblock %}

{% block volvermenu%}
    "desactive"
{% endblock %}

{% block cerrar%}
    "desactive"
{% endblock %}

{% block body %}

		<div class="division">
        <main>

            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total ventas</h3>
                            <h1>$54,970</h1>
                        </div>
                        <div class="progress">
                    
                                <span class="material-symbols-sharp">attach_money</span>
                            
                        </div>
                    </div>
                    <small class="text-muted">Ultimas 24 Horas</small>
                </div>
                <!--------------------- Final de los datos --------------------->
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Gastos</h3>
                            <h1>$35,730</h1>
                        </div>
                        <div class="progress">
                            <span class="material-symbols-sharp">payments</span>
                        </div>
                    </div>
                    <small class="text-muted">Ultimas 24 Horas</small>
                </div>
                <!--------------------- Final de los datos --------------------->
                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total ingresos</h3>
                            <h1>$19,240</h1>
                        </div>
                        <div class="progress">
                            <span class="material-symbols-sharp">savings</span>
                        </div>
                    </div>
                    <small class="text-muted">Ultimas 24 Horas</small>
                </div>
                <!--------------------- Final de los datos --------------------->
            </div>
            <!--------------------- Final de los datos --------------------->
            <div class="recent-orders">
                <h2>Ordenes recientes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nombre del producto</th>
                            <th>Numero del producto</th>
                            <th>Categoria</th>
                            <th>monto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in Productos %}
                        <tr>
                            <td>{{c.codigo}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.stock}}</td>
                            <td>{{c.categoria}}</td>
                            <td>{{c.precio}}</td>
                            <td class="success">Pendiente</td>
                            <td class="primary">Detalles</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#">Mostrar todo</a>
            </div>
        </main>
        <!--------------------- Final del main --------------------->
        <div class="right">
            <!--------------------- Final del top --------------------->
            <div class="recent-updates">
                <h2>Actualizaciones Recientes</h2>
                <div class="updates">
                    <div class="update">
                        {% for i in perfil %}

                        <div class="profile-photo">
                            {% if user.perfil.imagen %}
                            <img src="{{i.imagen.url}}" alt="foto del usuario">
                            {% else %}
                                sin imagen
                            {% endif %}</a>
                            
                        </div>
                        {% endfor %}
                        {% for i in usuarios %}
                        
                        <div class="message">
                            <p><b>{{i.username}}</b> Se Ha Registrado exitosamente
                            </p>
                            <small class="text-muted">El {{i.date_joined}}</small>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <div class="sales-analytics">
                    <h2>Analista de ventas</h2>
                    <div class="item online">
                        <div class="icon">
                            <span class="material-icons-sharp">shopping_cart</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Total Compras</h3>
                                <small class="text-muted">Ultimas 24 Horas</small>
                            </div>
                            <h5 class="success">+20%</h5>
                            <h3>120</h3>
                        </div>
                    </div>
                    <div class="item offline">
                        <div class="icon">
                            <span class="material-symbols-sharp">stadia_controller</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Juegos de ps5</h3>
                                <small class="text-muted">Ultimas 24 Horas</small>
                            </div>
                            <h5 class="danger">-25%</h5>
                            <h3>18</h3>
                        </div>
                    </div>
                    <div class="item customers">
                        <div class="icon">
                            <span class="material-symbols-sharp">mouse</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Juegos de pc</h3>
                                <small class="text-muted">Ultimas 24 Horas</small>
                            </div>
                            <h5 class="success">+27%</h5>
                            <h3>102</h3>
                        </div>
                    </div>
                    <div class="item add-product">
                        <div>
                            <span class="material-symbols-sharp">add</span>
                            <h3>Añadir producto</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endblock%}



