{% extends "./plantillaproducto.html" %}

{% block pagina %}
<a class="navbar-brand" href="#"> Añadir Juegos </a>
{% endblock %}

{% block content %}
    "desactive"
{% endblock %}

{% block Usuarios %}
    "desactive"
{% endblock %}

{% block ventas %}
    "desactive"
{% endblock %}
{% block anal %}
    "desactive"
{% endblock %}

{% block producto %}
    "desactive"
{% endblock %}

{% block reporte %}
    "desactive"
{% endblock %}

{% block ajustes%}
    "desactive"
{% endblock %}

{% block anadirp%}
    "active"
{% endblock %}

{% block volvermenu%}
    "desactive"
{% endblock %}

{% block cerrar%}
    "desactive"
{% endblock %}

{% block body %}
<div class="datos">
    <div class="margenes">
    <div class="card">
        <div class="card-body">
            <form action="/registrarjuego/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex">

                <div class="carta">
                    <div class="form-group">
                    <p>ID del juego</p>
                    <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="1" maxlength="6" required>
                </div>

                <div class="form-group">
                    <p>Nombre del juego</p>
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre del juego" maxlength="60" required>
                </div>

                <div class="form-group">
                    <p>Precio del juego</p>
                    <input type="number" id="txtPrecio" name="txtPrecio" class="form-control" placeholder="Precio" min="1000" max="1000000000" value="" required>
                </div>

                <div class="form-group">
                    <p>Imagen del Juego</p>
                    <input type="file" id="file" name="file" class="form-control">
                </div>

                <div class="form-group">
                    <p>Link del Video</p>
                    <input type="text" id="txtVideo" name="txtVideo" class="form-control" placeholder="Video">
                </div>

                <div class="form-group">
                    <p>Categoria</p>
                    <select class="form-control" name="categoria" id="categoria">
                        {% for x in categoria_m %}
                            <option value="{{ x.codigo }}">{{ x.nombreCategoria }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group2">
                    <p>Descripcion del juego</p>
                    <textarea name="txtDescripcion" id="txtDescripcion" class="form-control" cols="30" rows="8" placeholder="Descripción del juego"></textarea>
                </div>
                </div>
                <div class="carta">
                <div class="form-group2">
                    <p>Informacion extra</p>
                    <textarea name="txtMasInfo1" id="txtMasInfo1" class="form-control" cols="30" rows="3" placeholder="Mas informacion"></textarea>
                </div>

                <div class="form-group2">
                    <p>Informacion extra</p>
                    <textarea name="txtMasInfo2" id="txtMasInfo2" class="form-control" cols="30" rows="3" placeholder="Mas informacion"></textarea>
                </div>

                <div class="form-group2">
                    <p>Informacion extra</p>
                    <textarea name="txtMasInfo3" id="txtMasInfo3" class="form-control" cols="30" rows="3" placeholder="Mas informacion"></textarea>
                </div>

                <div class="form-group2">
                    <p>Informacion extra</p>
                    <textarea name="txtMasInfo4" id="txtMasInfo4" class="form-control" cols="30" rows="3" placeholder="Mas informacion"></textarea>
                </div>

                <div class="form-group2">
                    <p>Informacion extra</p>
                    <textarea name="txtMasInfo5" id="txtMasInfo5" class="form-control" cols="30" rows="3" placeholder="Mas informacion"></textarea>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text">Guardar</button>
                </div>
                </div>
                </div>
                
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}