{% extends "./plantilla_inicio.html" %}

{% block cate %}
{% for c in Productos %}
<li><a class="dropdown-item" href="accion">{{c.categoria.nombreCategoria}}</a></li>    
{% endfor %}     
{% endblock %}

{% block categ %}
{% for c in categoria %}
<li><a class="dropdown-item" href="Categoria/{{c.nombreCategoria}}">{{c.nombreCategoria}}</a></li>
{% endfor %}
{% endblock %}

{% block body %}
{% for c in Productos %}
    <div class="card-ini" > <a href="Juegos/{{c.codigo}}" class="imagen12" >
      <img class="card-img-top" src="{{ c.foto.url }}"  alt="Card image" > </a>
          <div class="card-body"> 
          <h6 class="card-title">{{ c.nombre }} <br>CLP ${{ c.precio }}</h6>
        </div>
      </div>
{% endfor %}

{% endblock %}