{% extends 'core/PlantillaJuegos.html' %}

{% block categ %}
{% for c in cate %}
<li><a class="dropdown-item" href="http://127.0.0.1:8000/Categoria/{{c.nombreCategoria}}">{{c.nombreCategoria}}</a></li>
{% endfor %}
{% endblock %}


{% load static %}

{% block Imagen %}
<img alt="Sin foto" class="imagen" src="{{produc.foto.url}}">
{% endblock Imagen %}

{% block Nombre %}
<h4>{{produc.nombre}}</h4>
{% endblock Nombre %}

{% block Descripcion %}
<p>{{produc.descripcion}}</p>
{% endblock Descripcion %}

{% block Precio %}
<h3>CLP ${{produc.precio}}</h3>
{% endblock Precio %}


{% block Video %}
<iframe src= {{produc.video}} title="YouTube video" allowfullscreen></iframe>
{% endblock Video %}


{% block Info1 %}
<li>{{produc.masInfo1}}</li>
{% endblock Info1 %}

{% block Info2 %}
<li>{{produc.masInfo2}}</li>
{% endblock Info2 %}

{% block Info3 %}
<li>{{produc.masInfo3}}</li>
{% endblock Info3 %}

{% block Info4 %}
<li>{{produc.masInfo4}}</li>
{% endblock Info4 %}

