{% extends "./plantillaproducto.html" %}

{% block pagina %}
<a class="navbar-brand" href="#"> Lista de Juegos </a>
{% endblock %}

{% block content %}
    "desactive"
{% endblock %}

{% block Usuarios %}
    "desactive"
{% endblock %}

{% block ventas %}
    "desactive"
{% endblock %}
{% block anal %}
    "desactive"
{% endblock %}

{% block producto %}
    "active"
{% endblock %}

{% block reporte %}
    "desactive"
{% endblock %}

{% block ajustes%}
    "desactive"
{% endblock %}

{% block anadirp%}
    "desactive"
{% endblock %}

{% block volvermenu%}
    "desactive"
{% endblock %}

{% block cerrar%}
    "desactive"
{% endblock %}

{% block body %}
<div class="table-container">
<div class="heading">
<div class="table">
    <h2>Ordenes recientes</h2>
    <div class="tabla">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>imagen</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in Productos %}
            <tr>
                <td>{{ c.codigo }}</td>
                <td class="nombre">{{ c.nombre }}</td>
                <td class="precio">{{ c.precio }}</td>
                <td class="categoria">{{ c.categoria }}</td>
                <td class="imag">
                    {% if c.foto %}
                    <img src="{{ c.foto.url }}" alt="not found" style="width: 50px; height: 50px">
                    {% else %}
                    <p>no tiene foto</p>
                    {% endif %}</td>
                <td><a href="edicionJuegos/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                <td><a href="eliminarJuego/{{c.codigo}}" class="btn btn-info">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>    
</div>
{% endblock%}